/* Font for the quiz body. */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar color and formatting */
nav {
    border: 2px solid black;
    background: rgb(158, 158, 158);
    font-weight: bold;
    margin: 30px;
}

/* Highscore container color and formatting */
.frame {
    border: 2px solid black;
    background: rgb(158, 158, 158);
    font-weight: bold;
    margin: 30px;
    padding: 20px;
}

/* Quiz formatting and color. */
.quiz {
    align-content: center;
    text-align: center;
    background: rgb(158, 158, 158);
    border: 2px solid black;
    margin: auto;
    padding: 30px;
}

/* end of quiz score formatting and color. */
.highscores {
    text-align: center;
    padding: 20px;
    top: 0;
    left: 0;
}

/* timer color and formatting. */
.time {
    text-align: right;
    padding: 20px;
    float: right;
    top: 0;
    right: 0;
}
